
/* Your CSS Code here.
yes i am try to my best but right now its to late for me */
.main{
width: 200px;
background: purple;
border-left:5px solid green ;
padding: 10px;
}
#heading{
    font-size: 20px;
    color: white;
    text-decoration: underline;
}